<!DOCTYPE html>
<html>

<head>
	<title>Library Management System</title>
	<script src="https://code.jquery.com/jquery-3.6.1.js" 
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" 
	crossorigin="anonymous"></script>
	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	-->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
	crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> 
	<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" 
	integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" 
	crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="../assets/js/admin_script.js"></script>
    <link href="../assets/css/style.css"/>
    <title> Admin Login Page</title>
</head>
<body>
	<h1 class="d-flex justify-content-center"><%= title %></h1>
	<div class="container">
		<button type="button" class="adminlogoutbtn btn btn-danger float-end">Logout</button>
	</div>
	<div class="container">
		<h3>Add Book</h3>
		<form class="form form1"  method="POST">
			<input type="text" id="name" placeholder="Book Name" name="bookName" required />
			<input type="text" id="author" placeholder="Book Author" name="bookAuthor" required/>
			<input type="text" id="pages" placeholder="Book Pages" name="bookPages" required/>
			<input type="text" id="prices" placeholder="Book Price" name="bookPrice" required/>
			<button type="submit" class="submitbtn btn btn-primary">Add</button>
		</form>
	</div>
	<br/>
	
	<div class="container table-responsive div1">
		<table class="table border table1">
			<thead class="thead-dark">
				<tr>
					<th>Sr No.</th>
					<th>Book Name</th>
					<th>Book Author</th>
					<th>Book Pages</th>
					<th>Book Price</th>
					<th>Book Availablity</th>
					<th>Edit</th>
					<th>Issue</th>
					<th>Return</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody class="maintable">
			</tbody>
		</table>
	</div>

	<br/>

	<div class="footer d-flex justify-content-center">
		<p>&copy; Swapnil Pawar 2022</p>
	</div>

	<div class="modal fade" id="issueModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<!-- Modal Header -->
			<div class="modal-header">
			  <h4 class="modal-title"><span id="title">Issue Book</span></h4>
			  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	  
			<!-- Modal body -->
			<div class="modal-body">
			  <form class="form">
				  	<label>Book Name</label>
					<input type="text" id="bookName" class="form-control" value=""/>
					<br/>
					<label>Issue Date</label>
					<input type="text" id="todaysDate" class="form-control" value="" />
					<br/>
					<label>Issued To</label>
					<input type="text" id="bookIssuedTo" class="form-control" placeholder="Issue To" required/>
					<br/>
					<label id="dueDate">Due Date</label>
					<input type="text" id="bookDue" class="form-control" val=""/>
			  </form>
			</div>
	  
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="cnfissuebtn btn btn-primary">Issue</button>
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
	  
		  </div>
		</div>
	</div>

	<div class="modal fade" id="returnModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			  <h4 class="modal-title"><span id="title"></span>
			  </h4><span id="fineTag" class="badge bg-danger"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
			  <form class="form">
				  	<label>Book Name</label>
					<input type="text" id="bookName" class="form-control" value=""/>
					<br/>
					<label>Issue Date</label>
					<input type="text" id="todaysDate" class="form-control" value="" />
					<br/>
					<label>Issued To</label>
					<input type="text" id="bookIssuedTo" class="form-control" placeholder="Issue To" required/>
					<br/>
					<label id="dueDate">Due Date</label>
					<input type="text" id="bookDue" class="form-control" val=""/>
					<br/>
					<label>Return Date</label>
					<input type="date" id="returnDate" class="form-control" val=""/>
			  </form>
			</div>
	  
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="returnIssuedbtn btn btn-primary">Return</button>
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
	  
		  </div>
		</div>
	</div>

	<div class="modal fade" id="editModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			  <h4 class="modal-title">Edit Book Info</span>
			  </h4><span id="fineTag" class="badge bg-danger"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
			  <form class="form">
				  	<label>Book Name</label>
					<span id="oldBookName" hidden></span>
					<input type="text" id="bookName" class="form-control" placeholder="Book Name" value=""/>
					<br/>
					<label>Book Author</label>
					<input type="text" id="bookAuthor" class="form-control" placeholder="Book Author" value="" />
					<br/>
					<label>Book Pages</label>
					<input type="text" id="bookPages" class="form-control" placeholder="Book Pages" required/>
					<br/>
					<label>Book Price</label>
					<input type="text" id="bookPrice" class="form-control" placeholder="Book Price" val=""/>
			  </form>
			</div>
	  
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="editNewbtn btn btn-success">Save</button>
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
	  
		  </div>
		</div>
	</div>
	
	<script>
		

		$(document).ready(function(){
			
			

			$('.table1').DataTable();


			
			
		})

		

		
		
				
		

			</script>
</body>
</html>
